
 📊 Results Summary

This document presents the output of the implementation of the workflow, KPI comparison between the last 30 days and the prior 30 days, and the parameterized query based on the ads_spend dataset.

1.- n8n Workflow and table ingested in big query
<img width="1307" height="468" alt="1 1 Workflow" src="https://github.com/user-attachments/assets/860a8cf0-f001-4a60-a14c-eb06afd0d002" />

<img width="2461" height="1297" alt="1 2 Workflow" src="https://github.com/user-attachments/assets/52e0f828-26c8-4443-8e1e-f15632b07714" />



2.- 


